* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Começo do HEADER */

.header {
    box-sizing: border-box;
    height: 140px;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #533375;
}

.header a {
    color: #ffd000;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  .header #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
 
  .header ul li a img {
    width: 25px;
  }
  .header a img {
    max-width: 100px;
  }
  .header ul li a:hover {
    color: #ffd000;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: 0.2s;
    text-transform: uppercase;
  }
  
  .header #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  .header #menu a {
    display: block;
    padding: 0.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: lowercase;
  }
  
  .header #btn-mobile {
    display: none;
    color: #ffd000;
  }
  
  /* @media (max-width: 600px) {
    
  } */
/* Final do HEADER */

/* Começo do PRIMEIRO-CONTAINER */
.frist-cont {
    padding: 10px 0px;
    background-color: #86709e;
    width: 100%;
}
.frist-cont .container {
     /* background-color: violet;  */
     max-width: 80%;
     margin: 0 auto;
}
.frist-cont .container .conteudo1 {
    border-radius: 2px;
    text-align: left;
    padding: 5px 5px;
    color: #533375;
    max-width: 340px;
    background-color: #FFD000;
}
.frist-cont .container .conteudo1 h2 {
    font-size: 35px;
    font-weight: bold;
    color: #3A2351;
}
.frist-cont .container .conteudo1 hr {
    max-width: 10%;
    margin: 5px 0px 8px 0px;
    
    border: #533375 1px solid;
}
.frist-cont .container .conteudo1 p {
    line-height: 20px;
    font-size: 16px;
    height: 133px;
    /* background-color: aqua; */
}

.frist-cont .container .conteudo2 form {
    text-align: center;
}
.frist-cont .container .conteudo2 form button {
    font-size: 18px;
    color: #FFD000;
    background-color: #4A2D69;
    text-transform: lowercase;
    margin: 10px 0px;
    padding: 20px 50px;
    border-style: none;
    border-radius: 5px;
}
.frist-cont .container .conteudo2 form button:hover {
    transition: 0.3s;
    color: #533375;
    background-color: #FFD000;
    font-weight: bold;
    margin-bottom: 11px;
}
/* Começo do PRIMEIRO-CONTAINER */

/* Começo do TERCEIRO-CONTAINER */

.third-cont{
    padding: 10px 0px;
    /* background-color: orange; */
    width: 100%;
}
.third-cont .third-contp2 {
    max-width: 90%;
    background-color: #533375;
    margin: 0 auto;
    text-align: center;
}
.third-cont .third-contp2 h2 {
    font-size: 48px;
    text-align: center;
    margin: 5px 0px;
    color: #FFD000;
    text-transform: uppercase;
}
.third-cont .third-contp2 a {
    /* background-color: blueviolet; */
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
.third-cont .third-contp2 a:hover {
    color: #FFD000;
    transition: 0.3s;
}
.third-cont .third-contp2 .container{
     /* background-color: violet; */
     padding: 15px 0;
     max-width: 90%;
     margin: 0 auto;
     display: flex;
     flex-wrap:wrap;
     justify-content: space-between;
}

.third-cont .third-contp2 .container .card-body {
    font-family: sans-serif;
    max-width: 250px;
    height: 305px;
    display: block;
    background-color: #ffd000;
    padding: 0;
    margin: 0 auto;
    border: none;
  }
  .third-cont .third-contp2 .container  .card-body img {
    width: 100%;
  }
  
  .third-cont .third-contp2 .container  .card-body .card-inf {
    width: 220px;
    text-align: left;
    margin: 0 auto;
    margin-top: 3px;
    line-height: 20px;
    padding: 0px 2px;
  }
  .third-cont .third-contp2 .container  .card-body .card-inf h5 {
    font-size: 24px;
    font-weight: 700;
    width: 220px;
  }
  .third-cont .third-contp2 .container  .card-body .card-inf p {
    font-size: 14px;
    text-align: left;
    margin: 0;
    width: 220px;
  }
  .third-cont .third-contp2 .container  .card-body .card-footer {
    border: none;
    background: none;
    margin: 0 auto;
    width: 220px;
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .third-cont .third-contp2 .container  .card-body .card-footer p {
    margin: auto 0;
    display: flex;
    font-size: 20px;
    color: #000;
    font-weight: 700;
  }
  .third-cont .third-contp2 .container  .card-body .card-footer .quantity {
    border: solid 1px black;
    border-radius: 10px;
    line-height: 5px;
  }
  .third-cont .third-contp2 .container  .card-body .card-footer .quantity input {
    border: none;
    background: none;
    width: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 300;
    text-align: center;
  }
  .third-cont .third-contp2 .container  .card-body .card-footer .quantity button {
    width: 20px;
    border: none;
    color: #000;
    border-radius: 0;
    background: none;
  }
  .third-cont .third-contp2 .container  .card-body .card-footer .quantity img {
    background-color: #533375;
    padding: 5px;
    width: 35px;
    border-radius: 0px 9px 9px 0px;
  }

/* final do TERCEIRO-CONTAINER */

/* começo do QUARTO CONTAINER */

.fourth-cont{
    padding: 10px 0px;
    /* background-color: orange; */
    width: 100%;
}
.fourth-cont .container {
    /* background-color: violet; */
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fourth-cont .container .cont-right {
    width: 60%;
}

.fourth-cont .container .cont-right {
    /* background-color: blue; */
    padding:70px 0px 0px 70px;
}
.fourth-cont .container img {
    width: 350px
}

.fourth-cont .container h2 {
    font-size: 48px;
    font-weight: lighter;
}
.fourth-cont .container h3 {
    margin: -20px 0px 20px 0px;
    font-size: 48px;
    font-weight: bold;
    color: #533375;
}
.fourth-cont .container p {
    font-size: 14px;
    text-align: left;
    width: 70%;
}
.fourth-cont .container button {
    max-width: 160px;
    border: none;
    padding: 8px 40px;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
    background-color: #533375;
}
.fourth-cont .container button a {
  text-decoration: none;
  color: #FFD000;
}
.fourth-cont .container button:hover {
    transition: 0.3s;
    background-color: #FFD000;
    font-weight: bold;
}
.fourth-cont .container button a:hover {
  color: #533375;
}

/* final do QUARTO CONTAINER */


.mySlides {display:none;}

.slides {
    padding: 10px 0;
    background-color: blueviolet;
    width: 100%;
}
.slides .body {
    background-color: rgb(247, 240, 240);
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding: 25px 20px;
    border-radius: 3px;
}
.slides .body .sub-body {
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.slides .body .sub-body .cliente {
    max-width: 250px;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-wrap: wrap;
}
.slides .body .sub-body .cliente img {
    border-radius: 60%;
    /* background-color: chocolate; */
    width: 100px;
    height: 100px;
}
.slides .body .sub-body .cliente ul {
    list-style: none;
    padding: 0;
    margin-left: 15px;
}
.slides .body .sub-body .cliente ul li:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.slides .body .sub-body .cliente ul li:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: rgb(104, 102, 102);
}

.slides .body .sub-body .icons {
    padding: 0;
    /* background-color: crimson; */
}
.slides .body .sub-body .icons ul {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}
.slides .body .sub-body .icons ul li img {
    width: 25px;
    background-color: rgb(90, 88, 88);
    padding:5px ;
}
.slides .body .sub-body .icons ul li{
    margin: 0px 8px;
}
.slides .body p {
    /* background-color: deeppink; */
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
}

.slides .botoes {
    /* background-color: #FFD000; */
    text-align: center;
}
.slides .botoes button {
    margin: 5px 10px;
    border-style: none;   
    padding: 10px; 
    background: none;
    color: #FFD000;
}


/* Começo do FOOTER */

footer {
    background-color: #FFD000;
    width: 100%;
    color: #533375;
    padding: 20px 0px;
}
footer .container {
    /* background-color: violet;  */
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
footer .container div {
    padding: 2.5px;
    max-width: 250px;
    /* background-color: brown; */
}
footer .container div .icons {
    display: flex;
    /* justify-content: space-between; */
   
}
footer .container div h3 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
footer .container div img {
    margin-right: 22px;
    padding: 5px;
    width: 30px;
    background-color: #533375;
}
footer .container div p {
    font-size: 14px;
}
footer .container div ol {
    /* background-color: crimson; */
    padding: 0;
    list-style: none;
}
footer .container div ol li {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    /* background-color: blue; */
}
footer .container div ol li a {
    color: #533375;
    
    text-decoration: none;
    margin-bottom: 16px;
    /* background-color: aqua */
}
/* Final do FOOTER */

.copy {
    width: 100%;
    background-color: #533375;
    padding: 10px 0;
   
}
.copy p {
    /* background-color: violet;  */
    max-width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #FFD000;
    font-weight: bold;
}
.copy a{
    color: azure;
    font-size: 24px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
}


/*html.carrinho*/

.title-pag {
    max-width: 400px;
    display: block;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  
  .title-pag h1 {
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .title-pag h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
    position: relative;
  }
  .container-geral {
    padding: 10px 0px;
    width:80%;
    margin: 0 auto;
  }
  
  .container-inf-produto {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.5px solid rgb(187, 187, 187);
  }
  .container-inf-produto .lado-D {
    /* background-color: beige; */
    width: 250px;
    margin-left: 100px;
  }
  .container-inf-produto .lado-E .card-body2 {
    font-family: sans-serif;
    max-width: 440px;
    height: 162px;
    display: flex;
    background-color: #ffd000;
  }
  .container-inf-produto .lado-E .card-body2 img {
    width: 220px;
  }
  .container-inf-produto .lado-E .card-body2 .card-inf {
    width: 220px;
    padding: 45px 20px;
  }
  .container-inf-produto .lado-E .card-body2 .card-inf h5 {
    font-size: 18px;
    font-weight: bold;
  }
  .container-inf-produto .lado-E .card-body2 .card-inf p {
    font-size: 12px;
    width: 162px;
  }
  .container-inf-produto .lado-D .subcont {
    /* background-color: #533375; */
    display: flex;
    justify-content: space-between;
  }
  .container-inf-produto .lado-D .subcont .primeiro-subcont .quantity {
    border: none;
    line-height: 5px;
    background-color: #c1c1c1;
    text-align: center;
    width: 100px;
  }
  .container-inf-produto .lado-D .subcont .primeiro-subcont .quantity input {
    border: none;
    background: none;
    width: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 300;
    text-align: center;
  }
  .container-inf-produto .lado-D .subcont .primeiro-subcont .quantity button {
    width: 20px;
    border: none;
    color: #000;
    border-radius: 0;
    background: none;
  }
  .container-inf-produto .lado-D .subcont .primeiro-subcont .subcont-opc {
   
    width: 100px;
    /* background-color: #ffd000; */
    text-align: center;
    font-weight: lighter;
  }
  .container-inf-produto .lado-D .subcont .primeiro-subcont .subcont-opc a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
  }

  .container-geral .finalizacao {
    width: 220px;
    height: 100px;
    display: block;
  }
  .container-geral .finalizacao .subtotal {
    font-size: 24px;
    font-weight: bold;
  }
  .container-geral .finalizacao .valor{
    font-size: 18px;
    font-weight: bold;
  }
  .container-geral .finalizacao label small {
    font-size: 14px;
    font-weight: lighter;
  }
  .container-geral .finalizacao button {
    font-size: 16px;
    background-color: #533375;
    color: #ffd000;
    border: none;
    border-radius: 7px;
    padding: 10px 45px;
    float: right;
  }